* {
    margin: 0%;
    padding: 0%;
  }
  
  body {
    background-color: #9EC8B9;
  }
  
  .container {
    background-color: #9EC8B9;
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
  }
  
  h1 {
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    background-color:#5C8374;
    border-radius: 50px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea,
  button {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    font: 100 1.1rem sans-serif;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    border-radius:20px ;
    border-color: white;
  }

  button {
    background-color: #1B4242;
    color: rgb(243, 238, 238);
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(59, 172, 31);
  }
  
  .task {
    background-color:#1B4242;
    font: 100 1.1rem sans-serif;
    padding: 30px;
    margin: 2vmax;
    color: rgba(0, 0, 0, 0.868);
    display: flex;
    align-items: center;
  }
  
  .task > div {
    width: 100%;
  }
  
  .task span {
    color: #5C8374;
  }
  
  .deleteBtn {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1B4242 ;
  }